
:root {
  --heading-font: obvia, sans-serif;
  --bg-screen: #ffffff9c;
  --black: #363537;
  --white: #ffffff;
  --type: #ffffff;
  --brown-100: #efe5ce;
  --brown-200: #e0cb9c;
  --brown-300: #d0b26b;
  --brown-400: #c19839;
  --brown-500: #b17e08;
  --brown-600: #8e6506;
  --brown-700: #6a4c05;
  --brown-800: #473203;
  --brown-900: #231902;
  --rust-100: #f4ddd7;
  --rust-200: #e8bbb0;
  --rust-300: #dd9888;
  --rust-400: #d17661;
  --rust-500: #c65439;
  --rust-600: #9e432e;
  --rust-700: #773222;
  --rust-800: #4f2217;
  --rust-900: #28110b;
  --beige-100: #f8f7f4;
  --beige-200: #f0efe8;
  --beige-300: #e9e8dd;
  --beige-400: #e1e0d1;
  --beige-500: #dad8c6;
  --beige-600: #aead9e;
  --beige-700: #838277;
  --beige-800: #57564f;
  --beige-900: #2c2b28;
  --darkslate-100: #ced7d9;
  --darkslate-200: #9eaeb3;
  --darkslate-300: #6d868d;
  --darkslate-400: #3d5d67;
  --darkslate-500: #0c3541;
  --darkslate-600: #0a2a34;
  --darkslate-700: #072027;
  --darkslate-800: #05151a;
  --darkslate-900: #020b0d;
  --yellow-100: #fdf2da;
  --yellow-200: #fae4b5;
  --yellow-300: #f8d791;
  --yellow-400: #f5c96c;
  --yellow-500: #f3bc47;
  --yellow-600: #c29639;
  --yellow-700: #92712b;
  --yellow-800: #614b1c;
  --yellow-900: #31260e;
  --brightyellow-100: #fff6d6;
  --brightyellow-200: #ffecac;
  --brightyellow-300: #ffe383;
  --brightyellow-400: #ffd959;
  --brightyellow-500: #ffd030;
  --brightyellow-600: #cca626;
  --brightyellow-700: #997d1d;
  --brightyellow-800: #665313;
  --brightyellow-900: #332a0a;
  --nude-100: #fdf2f1;
  --nude-200: #fae5e2;
  --nude-300: #f8d7d4;
  --nude-400: #f5cac5;
  --nude-500: #f3bdb7;
  --nude-600: #c29792;
  --nude-700: #92716e;
  --nude-800: #614c49;
  --nude-900: #312625;
  --darkgray-50: #959495;
  --darkgray-100: #7F7F80;
  --darkgray-200: #555455;
  --darkgray-300: #403F41;
  --darkgray-400: #353436;
  --darkgray-500: #2A292B;
  --darkgray-600: #262527;
  --darkgray-700: #222122;
  --darkgray-800: #1D1D1E;
  --darkgray-900: #19191A;
  --darkgray-950: #151415;
  --deepblue-50: #D2D9E5;
  --deepblue-100: #C6D0DE;
  --deepblue-200: #8FA1BE;
  --deepblue-300: #5F7DA3;
  --deepblue-400: #315789;
  --deepblue-500: #18447B;
  --deepblue-600: #133762;
  --deepblue-700: #0F2949;
  --deepblue-800: #0A1B32;
  --deepblue-900: #091425;
  --deepblue-950: #07111F;
  --lightblue-50: #D5E7F3;
  --lightblue-100: #CAE1F1;
  --lightblue-200: #AAD0E8;
  --lightblue-300: #7DB8DC;
  --lightblue-400: #4EA0CF;
  --lightblue-500: #0788C3;
  --lightblue-600: #096D9C;
  --lightblue-700: #0C5275;
  --lightblue-800: #09364E;
  --lightblue-900: #082231;
  --lightblue-950: #071B27;
  --lightgray-50: #F4F4F4;
  --lightgray-100: #EAEAEA;
  --lightgray-200: #D5D5D5;
  --lightgray-300: #C0C0C0;
  --lightgray-400: #AAAAAA;
  --lightgray-500: #959595;
  --lightgray-600: #808080;
  --lightgray-700: #6B6B6B;
  --lightgray-800: #555555;
  --lightgray-900: #414141;
  --lightgray-950: #363636;
  --purple-50: #e8e0ea;
  --purple-100: #dbd4dd;
  --purple-200: #b7a8bb;
  --purple-300: #947d9a;
  --purple-400: #705178;
  --purple-500: #4c2656;
  --purple-600: #3d1e45;
  --purple-700: #2e1734;
  --purple-800: #1e0f22;
  --purple-900: #190C1C;
  --purple-950: #0f0811;
  --cyan-50: #d4f5f9;
  --cyan-100: #ceeef1;
  --cyan-200: #9ddde3;
  --cyan-300: #6bccd6;
  --cyan-400: #3abbc8;
  --cyan-500: #09aaba;
  --cyan-600: #078895;
  --cyan-700: #056670;
  --cyan-800: #04444a;
  --cyan-900: #03363A;
  --cyan-950: #05272A;
  --sand-50: #fcf7ed;
  --sand-100: #fcf7ed;
  --sand-200: #f9f0dc;
  --sand-300: #f5e8ca;
  --sand-400: #f2e1b9;
  --sand-500: #efd9a7;
  --sand-600: #bfae86;
  --sand-700: #8f8264;
  --sand-800: #605743;
  --sand-900: #302b21;
  --sand-950: #221E17;
  --pink-50: #fcdce3;
  --pink-100: #fcdce3;
  --pink-200: #f9b9c8;
  --pink-300: #f697ac;
  --pink-400: #f37491;
  --pink-500: #f05175;
  --pink-600: #c0415e;
  --pink-700: #903146;
  --pink-800: #60202f;
  --pink-900: #301017;
  --pink-950: #230C11;
  --base-50: #fefdfa;
  --base-100: #fcf7ed;
  --base-200: #f9f0dc;
  --base-300: #f5e8ca;
  --base-400: #f2e1b9;
  --base-500: #efd9a7;
  --base-600: #bfae86;
  --base-700: #8f8264;
  --base-800: #605743;
  --base-900: #302b21;
  --base-950: #221E17;
  --base-50: #fdfdfc;
  --base-100: #f8f7f4;
  --base-200: #f0efe8;
  --base-300: #e9e8dd;
  --base-400: #e1e0d1;
  --base-500: #dad8c6;
  --base-600: #aead9e;
  --base-700: #838277;
  --base-800: #57564f;
  --base-900: #2c2b28;
  --base-950: #212121;


  --fz-9xl: 92px;
  --fz-8xl: 84px;
  --fz-7xl: 76px;
  --fz-6xl: 68px;
  --fz-5xl: 60px;
  --fz-4xl: 52px;
  --fz-3xl: 44px;
  --fz-2xl: 36px;
  --fz-xl: 28px;
  --fz-lg: 20px;
  --fz-base: 17px;
  --fz-sm: 14px;
  --fz-xs: 12px;
  --space-0: 0px;
  --space-px: 1px;
  --space-0-5: 0.125rem;
  --space-1: 0.25rem;
  --space-1-5: 0.375rem;
  --space-2: 0.5rem;
  --space-2-5: 0.625rem;
  --space-3: 0.75rem;
  --space-3-5: 0.875rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;
  --space-14: 3.5rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
  --space-36: 9rem;
  --space-40: 10rem;
  --space-44: 11rem;
  --space-48: 12rem;
  --space-52: 13rem;
  --space-56: 14rem;
  --space-60: 15rem;
  --space-64: 16rem;
  --space-72: 18rem;
  --space-80: 20rem;
  --space-96: 24rem;
  --space-97: 28rem;
  --space-98: 30rem;
  --space-99: 40rem;
  --space-100: 50rem;
  --negative-space-0: -0px;
  --negative-space-px: -1px ;
  --negative-space-0-5: -0.125rem;
  --negative-space-1: -0.25rem;
  --negative-space-1-5: -0.375rem;
  --negative-space-2: -0.5rem;
  --negative-space-2-5: -0.625rem;
  --negative-space-3: -0.75rem;
  --negative-space-3-5: -0.875rem;
  --negative-space-4: -1rem;
  --negative-space-5: -1.25rem;
  --negative-space-6: -1.5rem;
  --negative-space-7: -1.75rem;
  --negative-space-8: -2rem;
  --negative-space-9: -2.25rem;
  --negative-space-10: -2.5rem;
  --negative-space-11: -2.75rem;
  --negative-space-12: -3rem;
  --negative-space-14: -3.5rem;
  --negative-space-16: -4rem;
  --negative-space-20: -5rem;
  --negative-space-24: -6rem;
  --negative-space-28: -7rem;
  --negative-space-32: -8rem;
  --negative-space-36: -9rem;
  --negative-space-40: -10rem;
  --negative-space-44: -11rem;
  --negative-space-48: -12rem;
  --negative-space-52: -13rem;
  --negative-space-56: -14rem;
  --negative-space-60: -15rem;
  --negative-space-64: -16rem;
  --negative-space-72: -18rem;
  --negative-space-80: -20rem;
  --negative-space-96: -24rem;
  --w-auto: auto;
  --w-1-2: 50%;
  --w-1-3: 33.333333%;
  --w-2-3: 66.666667%;
  --w-1-4: 25%;
  --w-2-4: 50%;
  --w-3-4: 75%;
  --w-1-5: 20%;
  --w-2-5: 40%;
  --w-3-5: 60%;
  --w-4-5: 80%;
  --w-1-6: 16.666667%;
  --w-2-6: 33.333333%;
  --w-3-6: 50%;
  --w-4-6: 66.666667%;
  --w-5-6: 83.333333%;
  --w-1-12: 8.333333%;
  --w-2-12: 16.666667%;
  --w-3-12: 25%;
  --w-4-12: 33.333333%;
  --w-5-12: 41.666667%;
  --w-6-12: 50%;
  --w-7-12: 58.333333%;
  --w-8-12: 66.666667%;
  --w-9-12: 75%;
  --w-10-12: 83.333333%;
  --w-11-12: 91.666667%;
  --w-full: 100%;
  --w-screen: 100vw;
  --w-min: min-content;
  --w-max: max-content;
  --w-fit: fit-content;
  --max-w-0: 0rem; /* 0px */
  --max-w-none: none;
  --max-w-xs: 20rem; /* 320px */
  --max-w-sm: 24rem; /* 384px */
  --max-w-md: 28rem; /* 448px */
  --max-w-lg: 32rem; /* 512px */
  --max-w-xl: 36rem; /* 576px */
  --max-w-2xl: 42rem; /* 672px */
  --max-w-3xl: 48rem; /* 768px */
  --max-w-4xl: 56rem; /* 896px */
  --max-w-5xl: 64rem; /* 1024px */
  --max-w-6xl: 72rem; /* 1152px */
  --max-w-7xl: 80rem; /* 1280px */
  --max-w-full: 100%;
  --max-w-min: min-content;
  --max-w-max: max-content;
  --max-w-fit: fit-content;
  --max-w-prose: 65ch;
  --max-w-screen-sm: 640px;
  --max-w-screen-md: 768px;
  --max-w-screen-lg: 1024px;
  --max-w-screen-xl: 1280px;
  --max-w-screen-2xl: 1536px;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  --shadow-none: 0 0 #0000;
  --reading-width: 50rem;
  --ff: obvia, sans-serif;
  --fw: 400;
  --fw-norm: var(--fw);
  --fw-normal: var(--fw);
  --fw-bold: 700;

  --player-width: 500px;
  --display-lightmode: block;
  --display-darkmode: none;

  --bg-top: var(--lightgray-400);
  --bg-up: var(--lightgray-500);
  --bg: var(--lightgray-200);
  --bg-down: var(--lightgray-300);
  --bg-bottom: var(--lightgray-400);

  --fg-top: var(--darkgray-700);
  --fg-up: var(--darkgray-600);
  --fg: var(--darkgray-500);
  --fg-down: var(--darkgray-400);
  --fg-bottom: var(--darkgray-400);

  --accent-secondary: var(--pink-500);
  --muted: var(--base-500);
  --accent-primary: var(--deepblue-500);
  --hard-fg: var(--purple-300);
  --accent-tertiary: var(--lightblue-500);
  --link: var(--lightblue-600);
  --soft-fg: var(--purple-300);
  --link-hover: var(--lightblue-700);

  --nav-bg: var(--bg-down);
  --nav-bg-hover: var(--bg-up);
  --nav-bg-active: var(--bg-bottom);
  --nav-fg-active: var(--purple-500);
  --nav-fg: var(--fg-bottom);
  --nav-accent-fg: var(--purple-500);
  --nav-bordercolor: var(--darkgray-400);


  --nav-btn-bg: var(--base-500);
  --nav-btn-hover: var(--base-400);
  --nav-btn-active: var(--base-300);
  --nav-btn-color: var(--lightgray-100);
  --nav-btn-color-hover: var(--white);
  --nav-bordercolor: var(--base-500);
  --nav-bordercolor-active: var(--base-400);


  --hard-dropshadow: 2px 2px 0 0 var(--lightgray-500);
  --divider: var(--lightgray-500);
  --list-header-color: var(--purple-500);

  --audio-bg: var(--lightgray-300);
  --box-shadow: none;
  --audio-duration-txt-color: var(--lightgray-600);
  --audio-txt-color: var(--lightgray-800);
  --audio-play-pause-background: var(--brightyellow-500);

  --soft-label-fg: var(--lightgray-700);
  --soft-label-bg: var(--lightgray-300);

  --audio-tab-bg: #2b2b2c0f;
  --audio-tab-bg-active: #45454624;
  --audio-tab-fg-active: var(--purple-500);

  --dull: var(--lightgray-400);


  --bg-compliment: #343A40;
  --bg-compliment-down: var(--beige-500);
  --bg-compliment-down2: var(--beige-100);
  --bg-compliment-up: #383E44;
  --bg-compliment-up2: #3E444A;
  --bg-compliment-up3: #4A5054;

  --dark-mode-visibile: none;
  --light-mode-visibile: block;
  --mode-visible: var(--light-mode-visibile);
}
body.dark-mode, html.dark {
  --bg-screen: #00000099;
  --display-lightmode: none;
  --display-darkmode: block;
  --bg-top: var(--darkgray-400);
  --bg-up: var(--darkgray-500);
  --bg: var(--darkgray-700);
  --bg-down: var(--darkgray-800);
  --bg-bottom: var(--darkgray-900);
  --fg-top: var(--lightgray-700);
  --fg-up: var(--lightgray-500);
  --fg: var(--nude-100);
  --fg-down: var(--lightgray-400);
  --fg-bottom: var(--lightgray-300);
  --act: var(--pink-500);
  --alt: var(--yellow-500);
  --bg-compliment: #343A40;
  --bg-compliment-down: #3f4c54;
  --bg-compliment-down2: #2D3236;
  --bg-compliment-up: #383E44;
  --bg-compliment-up2: #3E444A;
  --bg-compliment-up3: #4A5054;
  --accent-secondary: var(--pink-500);
  --muted: var(--base-500);
  --accent-primary: var(--yellow-500);
  --hard-fg: var(--purple-300);
  --accent-tertiary: var(--lightblue-300);
  --link: var(--cyan-300);
  --soft-fg: var(--purple-300);
  --link-hover: var(--cyan-200);
  --nav-bg: var(--darkgray-500);
  --nav-bg-hover: var(--darkgray-600);
  --nav-bg-active: var(--darkgray-700);
  --nav-fg-active: var(--lightgray-100);
  --nav-fg: var(--beige-500);
  --nav-accent-fg: var(--brightyellow-500);
  --nav-bordercolor: var(--darkgray-400);
  --nav-btn-bg: var(--bg-compliment);
  --nav-btn-hover: var(--darkgray-500);
  --nav-btn-active: var(--darkgray-500);
  --nav-btn-color: var(--lightgray-100);
  --nav-btn-color-hover: var(--yellow-500);
  --nav-bordercolor: var(--darkgray-400);
  --nav-bordercolor-active: var(--darkgray-300);
  --hard-dropshadow: 2px 2px 0 0 var(--darkgray-700);
  --divider: var(--darkgray-500);
  --list-header-color: var(--base-500);
  --audio-bg: var(--darkgray-400);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --audio-duration-txt-color: var(--lightgray-600);
  --audio-txt-color: var(--lightgray-500);
  --audio-play-pause-background: var(--deepblue-200);
  --audio-tab-bg: #2B2B2C;
  --audio-tab-bg-active: #454546;
  --soft-label-fg: var(--lightgray-500);
  --soft-label-bg: var(--bg-up);
  --audio-tab-bg: #2b2b2c0f;
  --audio-tab-bg-active: #45454624;
  --audio-tab-fg-active: var(--lightgray-100);
  --dull: var(--darkgray-500);

  --dark-mode-visibile: block;
  --light-mode-visibile: none;
  --mode-visible: var(--dark-mode-visibile);
}