/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@font-face {
  font-family: 'Obvia';
  src: url('obvia.woff');
}

body {
  font-family: 'Obvia';  
  padding: 0 !important;
  margin: 0 !important;
}

html { 
}
.text-wyxr-fg {
  color: #f8f7f4;
}
.text-wyxr-accent {
  color: #F4BC47;
}
.bg-wyxr-bg {
  background-color: #202021;
}
.bg-wyxr-bg-dark {
  background-color: #2C2B28;
}
.bg-wyxr-bg-darker {
  background-color: #212121;
}
.bg-wyxr-bg-light {
  background-color: #F6F6F6;
}